.product-details {
    margin-top: 100px !important;
  }
  
  .product-details-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  
  .product-details-info h6 {
    margin-bottom: 20px !important;
  }
  
  .similar-products .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
  }
  
  .similar-products .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .similar-products .card-price {
    color: green;
    font-weight: bold;
  }
  .similar-products button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .similar-products .card-text {
    color: rgb(90, 89, 89);
  }
  
  .similar-products .card img:hover {
    transform: scale(0.9);
  }
  
  .similar-products .card-img-top {
    height: 300px !important;
  }
  /* newly added style */
  .container.product-details {
    margin-top: 20px;
  }
  
  .product-details .img-fluid {
    max-height: 400px;
    object-fit: cover;
  }
  
  .product-details .card {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-details .review.card {
    background-color: #fff;
    border-left: 5px solid #007bff;
  }
  
  .product-details h1 {
    font-size: 2.5rem;
    color:orange;
  }
  
  .product-details h6 {
    font-size: 1.1rem;
    color: #555;
  }
  
  .product-details .btn-secondary {
    background-color: #007bff;
    border: none;
  }
  
  .product-details .btn-secondary:hover {
    background-color: #0056b3;
  }
  
  .star {
    color: #ddd;
    font-size: 1.2rem;
  }
  
  .star.filled {
    color: #ffd700;
  }
  .customer-review,.rate{
    color:orange;
    font-weight: bold;

  }
  